body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: azure;
}



form {
    display: inline-block;
    text-align: left;
    padding: 80px;
    border: 5px solid #9b9595;
    border-radius: 20px;
    background-color:#d9dabf;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top:0px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type='textarea'],
input[type='email'],
select {
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 2px solid #d3c9c9;
}

textarea {
    display: block;
    width: 100%;
    height: 80px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #d0d49c;
    color: #463838;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px 20px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3cd341;
}

.Name{
    font-size: 16px;
    font-weight: lighter;
}