<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Project Select</title>
    <link rel="stylesheet" href="product_all.css">

</head>
<body>
	<div class="container">
		<table>
			<tbody>
				<tr>
					<td>
						<button onclick="window.location.href='发布项目.php';">Project Launch</button>
					</td>
					<td>
						<button onclick="window.location.href='Project_A.php';">Project Acceptance<br>(Administrator Only)</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>