<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APPLICATION APPROVAL</title>
    <link rel='stylesheet' type='text/css' th:href='@{/css/project_acc.css}'>
    <link rel="icon" type="image/jpeg" th:href="@{/img/rahinelab_logo.png}" sizes="32x32">

</head>
<body>
<form action="/projectStatusAction" method="post">
    <table>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Project Significance</th>
            <th>Project Timeline /D</th>
            <th>Project Budget /$</th>
            <th>Project Status</th>
        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectNum}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.type}"></td>
            <td th:text="${project.meaning}"></td>
            <td th:text="${project.totalTime}"></td>
            <td th:text="${project.expenditure}"></td>
            <td>
                <button type="submit" class="accomplish" name="accomplish" th:value="${project.projectNum}" th:if="${project.status == '已完成'}">ACCOMPLISHED</button>
                <button type="submit" class="unreviewed" name="unreviewed" th:value="${project.projectNum}" th:if="${project.status == '待审核'}">UNREVIEWED</button>
                <button class="ongoing" th:if="${project.status == '进行中'}" onclick="return false;">ONGOING</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>