<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APPLICATION APPROVAL</title>
    <link rel='stylesheet' type='text/css' th:href='@{/css/project_acc.css}'>
    <link rel="icon" type="image/jpeg" th:href="@{/img/rahinelab_logo.png}" sizes="32x32">

</head>
<body>
<form action="/purchaseStatusAction" method="post">
    <table>
        <tr>
            <th>Purchase ID</th>
            <th>Product Name</th>
            <th>Purchase Quantity</th>
            <th>Purchase Total Prices /$</th>
            <th>Purchase Date</th>
            <th>Address</th>
            <th>Purchase Status</th>
        </tr>
        <tr th:each="purchaseInfo : ${purchaseInfos}">
            <td th:text="${purchaseInfo.purchase.purchaseNum}"></td>
            <td th:text="${purchaseInfo.productName}"></td>
            <td th:text="${purchaseInfo.purchase.quantity}"></td>
            <td th:text="${purchaseInfo.purchase.totalPrices}"></td>
            <td th:text="${purchaseInfo.purchase.purchaseDate}"></td>
            <td th:text="${purchaseInfo.purchase.address}"></td>
<!--            <td th:text="${purchaseInfo.purchase.status}"></td>-->
            <td>
                <button type="submit" class="accomplish" name="accomplish" th:value="${purchaseInfo.purchase.purchaseNum}" th:if="${purchaseInfo.purchase.status == '已完成'}">ACCOMPLISHED</button>
                <button class="ongoing" th:if="${purchaseInfo.purchase.status == '待发货'}" onclick="return false;">UNPACKED</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>