<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/jpeg" th:href="@{/img/rahinelab_logo.png}" sizes="32x32">
<head>
  <title>修改员工信息</title>
  <meta charset="UTF-8">
  <style>
    body {
      text-align: center;
      background-image: url(/img/image/ebc.png);/* 主要图片 */
      background-repeat:no-repeat;
      opacity: 0.8;
      background-size:100%;
      font-family: 'Times New Roman', Times, serif;
      background-attachment:fixed;
    }
    table {
      background-color: #e6f2ff;
      margin: 0 auto;
      text-align: center;
    }
    td, th {
      padding: 5px;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <h1>修改员工信息 <button onclick="goToControl2()"> <a>返回</a></button></h1>
  <table>
    <tr>
      <th>员工编号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>民族</th>
      <th>政治面貌</th>
      <th>文化程度</th>
      <th>手机号码</th>
      <th>邮箱</th>
      <th>入职时间</th>
      <th>员工基本工资</th>
      <th>部门编号</th>
      <th>状态</th>
      <th>操作</th>
    </tr>

        <tr th:each="employee : ${employeeinfos}">
        <form action="/modifyUpdate" method='post'>
          <td><span th:text="${employee.employeeNum}"></span></td>
          <td><span th:text="${employee.name}"></span></td>
          <td><span th:text="${employee.gender}"></span></td>
          <td><span th:text="${employee.nation}"></span></td>
          <td><span th:text="${employee.politicalStatus}"></span></td>
          <td><input type='text' name='degree' th:value='${employee.degree}' style='width: 61px;' required></td>
          <td><input type='text' name='phone' th:value='${employee.phone}' style='width: 91px;' required></td>
          <td><input type='email' name='email' th:value='${employee.email}' style='width: 121px;' required></td>
          <td><span th:text="${employee.entryTime}"></span></td>
          <td><input type='text' name='salary' th:value='${employee.salary}' style='width: 51px;' required></td>
          <td><input type='text' name='sectionNum' th:value='${employee.sectionNum}' style='width: 41px;' required></td>
          <td><input type='text' name='status' th:value='${employee.status}' style='width: 51px;' required></td>
          <td><input type='submit' name='confirm' value='确认'><input type='submit' name='cancel' value='取消'></td>
          <input type='hidden' name='employeeNum' th:value='${employee.employeeNum}'>
        </form>
        </tr>
  </table>
  <script>
    function goToControl2() {
      window.location.href = "/control";
    }
  </script>
</body>
</html>