html{
    cursor: url("ender_lilies.png"), auto;

}
body {
    background-image: url(./image/bc.jpg);
    background-repeat: no-repeat;
    /* 溢出隐藏 */
    overflow: hidden;
    background-size: 100%; 
    background-position:center ;
    background-attachment:fixed; 
    font-family: 'Times New Roman', Times, serif;
}
form {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 28%;
    position: absolute;
    top: 6%;
    left: 35%;
    opacity: 0.6;
    color: white;
    
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="submit"] {
    background-color: rgb(40,39,40);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#button {
    padding: 0;
    background-color: #00cc99;
    color: #000; /* 将字体颜色设置为黑色 */
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: gray;
    
}
input:hover{
    animation: pulse 1s ease-in-out infinite ;
}
#button{
    animation: pulse 1s ease-in-out infinite ;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
@keyframes pulse{
    0% {
        border-width: 2px;
        border-color:black;
      }
      50% {
        border-width: 2px;
        border-color:transparent;
      }
      100% {
        border-width: 2px;
        border-color: black;
      }
}
p{
    text-align: center;
    font-size: 20px;
}